<!DOCTYPE html>
<html>
<head>
    <title>Akari Generator</title>
</head>
<body>
    <p>This puzzle generator works for sizes up to 15x15, although it is sometimes quite slow.</p>
    <form action="{{url_for('generate_puzzle_for_website')}}" method="post">
        <label for="height">Height:</label>
        <input name="height" type="text" placeholder="10" value="10" size="3">
        <label for="width">Width:</label>
        <input name="width" type="text" placeholder="10" value="10" size="3"> <br>
        <label for="seed">Seed puzzle (optional, export from puzz.link):</label>
        <input name="seed" type="text" placeholder="https://puzz.link/p?akari/10/10/zt2ckccjcck2czr" value="" size="30"> <br>
        <label for="difficulty">Difficulty:</label>
        <select name="difficulty" type="text">
            <option value="1">Easy</option>
            <option value="2">Medium</option>
            <option value="3">Hard</option>
        </select> <br> <br>
        <button type="submit">Generate!</button>
    </form>
    <br>
    <a href="{{url_for('home')}}"><button>Go to puzzle solver</button></a>
</body>
</html>